/* src/app/chat/chat.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* 부모의 높이를 채우도록 설정 */
    width: 100%;
    max-width: 800px;
    /* 필요에 따라 너비를 조절하세요 */
    background-color: #010409;
    border: 1px solid #3d444d;
    border-radius: 8px;
    overflow: hidden;
}

.chatBox {
    flex: 1;
    overflow-y: auto;
    /* 스크롤바 표시 */
    padding: 16px;
    background-color: #010409;
    color: #3d444d;
}

/* 스크롤바 스타일 */
.chatBox::-webkit-scrollbar {
    width: 8px;
}

.chatBox::-webkit-scrollbar-thumb {
    background-color: #3d444d;
    border-radius: 4px;
}

.message {
    margin-bottom: 10px;
}

.ownMessage {
    text-align: right;
}

.nickname {
    font-weight: bold;
}

.timestamp {
    font-size: 0.8em;
    color: #f7768e;
    /* 에러 색상과 구분을 위해 유지 */
}

.userList {
    width: 200px;
    /* 필요에 따라 너비를 조절하세요 */
    background-color: #010409;
    border-left: 1px solid #3d444d;
    overflow-y: auto;
}

.userListTitle {
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.userItem {
    margin-bottom: 5px;
    color: #ffffff;
}

.inputContainer {
    display: flex;
}

.input {
    flex: 1;
    padding: 8px;
    border: 1px solid #3d444d;
    border-radius: 4px;
    background-color: #3d444d;
    /* 입력 배경색 */
    color: #ffffff;
    /* 텍스트 색상 */
}

.button {
    margin-left: 8px;
    padding: 8px 16px;
    background-color: #212830;
    color: #ffffff;
    border: 1px solid #3d444d;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #3d444d;
}