/* src/app/chat/chat.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* 부모의 높이를 채우도록 설정 */
    width: 100%;
    max-width: 800px;
    /* 필요에 따라 너비를 조절하세요 */
    background-color: #010409;
    border: 1px solid #3d444d;
    border-radius: 8px;
    overflow: hidden;
}

.chatBox {
    flex: 1;
    overflow-y: auto;
    /* 스크롤바 표시 */
    padding: 16px;
    background-color: #010409;
    color: #3d444d;

    /* 스크롤바 스타일링 - Firefox */
    scrollbar-width: thin;
    /* 스크롤바 너비를 얇게 설정 */
    scrollbar-color: #555 #2c2f33;
    /* 스크롤바 색상, 트랙 색상 */

    /* 스크롤바 스타일링 - Webkit 기반 브라우저 (Chrome, Safari, Edge) */
}

.chatBox::-webkit-scrollbar {
    width: 6px;
    /* 스크롤바 너비를 더 얇게 설정 */
}

.chatBox::-webkit-scrollbar-track {
    background: #2c2f33;
    /* 트랙 배경색 */
    border-radius: 3px;
}

.chatBox::-webkit-scrollbar-thumb {
    background-color: #555;
    /* 스크롤바 색상 */
    border-radius: 3px;
    border: 1px solid #2c2f33;
    /* 스크롤바 주변 여백 */
}

.message {
    margin-bottom: 10px;
}

.ownMessage {
    text-align: right;
}

.nickname {
    font-weight: bold;
}

.timestamp {
    font-size: 0.8em;
    color: #f7768e;
    /* 에러 색상과 구분을 위해 유지 */
}

.inputContainer {
    display: flex;
    flex: 1;
}

.input {
    flex: 1;
    padding: 8px;
    border: 1px solid #3d444d;
    border-radius: 4px;
    background-color: #3d444d;
    /* 입력 배경색 */
    color: #ffffff;
    /* 텍스트 색상 */
}

.button {
    margin-left: 8px;
    padding: 8px 16px;
    background-color: #212830;
    color: #ffffff;
    border: 1px solid #3d444d;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #3d444d;
}

/* 에러 메시지 스타일 */
.error {
    color: #f7768e;
    /* 에러 메시지 색상 */
    text-align: center;
    margin-bottom: 16px;
    font-weight: bold;
}

/* 추가적인 클래스은 필요에 따라 여기에 작성하세요 */