/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 필요한 다른 CSS 변수들 */
}

body {
  color: #3d444d;
  /* custom-text */
  background: #010409;
  /* custom-bg */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}