/* src/components/Navbar.module.css */

.navbar {
    @apply flex justify-between items-center p-4 bg-gradient-main;
    box-shadow: var(--tw-shadow-neon);
}

.logo {
    @apply text-primary text-xl font-bold;
    text-shadow: 0 0 5px var(--primary);
}

.navItems {
    @apply flex items-center space-x-4;
}

.greeting {
    @apply text-primary;
}

.logoutButton {
    @apply bg-button-background text-white font-bold py-2 px-4 rounded relative z-10;
    box-shadow: 0 0 10px var(--primary);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logoutButton::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(45deg, var(--primary), var(--secondary), var(--accent));
    z-index: -1;
    filter: blur(4px);
    opacity: 0.7;
    border-radius: 6px;
}

.logoutButton:hover {
    background-color: var(--button-hover);
    box-shadow: 0 0 15px var(--secondary);
}