/* src/components/Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #010409;
    /* 주 배경색 */
    border-bottom: 1px solid #3d444d;
    /* 주 테두리 색상 */
}

/* 로고를 오른쪽으로 약간 이동 */
.logo {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 220px;
    /* 원하는 만큼 조정 (예: 0.5rem = 8px) */
}

/* 인사말과 로그아웃 버튼을 왼쪽으로 약간 이동 */
.navItems {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 220px;
    /* 원하는 만큼 조정 (예: 0.5rem = 8px) */
}

.greeting {
    color: #ffffff;
}

.logoutButton {
    background-color: #212830;
    /* 버튼 배경색 */
    color: #ffffff;
    /* 흰색 텍스트 */
    border: 1px solid #3d444d;
    /* 버튼 테두리 색상 */
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logoutButton:hover {
    background-color: #3d444d;
    /* 호버 시 버튼 배경색 변경 */
}