/* src/app/signup/signup.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signupBox {
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}